


<div>
   <nav class="daily-nav">
    <div class="daily-dates">
        <h4>Task List:</h4>
        <h4 id="day-name">None</h4>

        <input id="dateInput" type="date" class="date-box" value=date required >
    </div>

    <button class="add-task-btn">Add Task</button>
</nav>


<div class="task-table-container">
    <table class="task-table">
        <thead>
            <tr>
                <th class="task-head"  >Task Name</th>
                <th>Actual Work (hrs)</th>
                <th>OverTime(Hrs)</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            
            <tr >
                <td  class="task-data" >215 - Training</td>
                <td class="task-data"  >8.5</td>
                <td class="task-data"  >0</td>
                <td class="task-data"  >java, python</td>
                <td class="task-data"  ><i class='bxr  bx-edit'></i> <i class='bxr  bx-trash'></i>  </td>
            </tr>
            
        </tbody>
    </table>

    
    
</div>


